%h1 Orders

%table.table#orders
  %thead
    %tr
      %th.datetime Created
      %th.uuid ID
      %th.items Items
      %th.amount Amount
      %th.status Status
      %th.email Email

      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td.datetime= link_to order.created_at, admin_order_path(order)
        %td.uuid= order.id_short
        %td.items= order.order_items.count
        %td.amount= order.amount
        %td.status= order.status
        %td.email= order.user.email
        %td.actions
          = link_to admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } do
            = fa_icon 'trash'
