%h1 Messages

%table.table#messages-table.table-hover
  %thead
    %tr
      %th
      %th Email
      %th Content
      %th

  %tbody
    - @messages.each do |message|
      %tr{ class: message.unread? ? 'unread' : nil }
        %td= link_to nice_brief_date(local_time(message.created_at)), admin_message_path(message)
        %td= link_to message.email, admin_message_path(message)
        %td= link_to message.content.truncate(50), admin_message_path(message)
        %td
          = link_to admin_message_path(message), method: :delete, data: { confirm: 'Are you sure?' } do
            = fa_icon "trash"

