#user
  .row
    .col-md-8
      %h1= @user.name
      %p= @user.email

  .row
    .col-md-8
      %h2 Address

      = @user.street_address_1
      %br
      - if @user.street_address_2.present?
        = @user.street_address_2
        %br
      = @user.city
      %br
      = @user.state
      = @user.zip_code

  .row
    .col-md-8
      %h2 Orders
      %table.table.table-sm.table-borderless#orders-table
        %thead
          %tr
            %th Date
            %th Status
            %th Amount
        - @user.orders.each do |order|
          - next if order.status == 'Shopping'
          %tr
            %td= link_to nice_compact_date(order.charged_at), order_path(order)
            %td= order.status
            %td= number_to_currency(order.net_amount)
