
#cart
  .cart-icon= fa_icon "shopping-cart"
  %p.text-center= link_to "continue shopping", root_path
  - if @order&.order_items&.any?
    .row
      .col-md-12

        %table.table
          %thead
            %th
            %th.price Price
            %th.quantity Quantity
            %th.amount Total
            %th
          - @order.order_items.product.order(item_type: :desc).each do |item|
            - if item.product
              %tr
                %td.name
                  - if item.product.images.attached?
                    - if item.product.images.first.representable?
                      = image_tag item.product.images.first.representation(resize_to_limit: [80, 80])
                      &nbsp;
                  = link_to item.product.name, product_path(item.product_id)
                  = "#{item.product.size_oz} oz" if item.product.size_oz.present?
                %td.price= number_to_currency(item.unit_price)
                %td.quantity= item.quantity
                %td.amount= number_to_currency(item.amount)
                %td.remove-button
                  = button_to 'Remove', remove_from_cart_path(product_id: item.product_id), class: 'btn btn-secondary btn-sm'
            - else
              %tr
                %td.name= item.item_type
                %td
                %td
                %td.amount= item.amount
                %td


          %tr
            %td Total
            %td
            %td
            %td.amount
              = number_to_currency(@order.gross_amount)
            %td



  - else
    .row
      .col-md-12
        %strong
          .text-center Cart is empty
