%h1 Orders

%table.table#orders
  %thead
    %tr
      %th.datetime Created
      %th.uuid ID
      %th.amount Amount
      %th.status Status
      %th.email Email

      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td.datetime= order.created_at
        %td.uuid= order.id.slice(0,8)
        %td.amount= order.amount
        %td.status= order.status
        %td.email= order.email
        %td.actions
          = link_to 'Show', order
          \|
          = link_to 'Edit', edit_order_path(order)
          \|
          = link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
