.row
  .col-md-12
    .text-center
      .review-image= image_tag "slime-kangaroo-logo.png", width: '100px' 

.row
  .col-md-12
    %h1 Review Order
    .continue-shopping-link= link_to "continue shopping", root_path

%br
%br
.review-element
  .row
    .col-md-12
      %h2 Shipping address

      %p= link_to "edit", shipping_path

      %p
        = @order.addressee
        %br
        = @order.street_address_1
        - if @order.street_address_2.present?
          = @order.street_address_2
          %br
        = @order.city
        = @order.state
        = @order.zip_code

.review-element
  .row
    .col-md-12
      %h2 Review items and summary

      %p
        = link_to "edit", cart_path


      %table.table.table-sm#cart
        %thead
          %th
          %th.price Price
          %th.quantity.text-center Qty
          %th.amount.text-right Total
        - @order.order_items.product.each do |item|
          %tr
            %td.name
              = link_to item.product.name, product_path(item.product_id)
              = "#{item.product.size_oz} oz" if item.product.size_oz.present?
            %td.price= number_to_currency(item.unit_price)
            %td.quantity.text-center= item.quantity
            %td.amount.text-right= number_to_currency(item.amount)
        - @order.order_items.non_product.order(item_type: :asc).each do |item|
          %tr
            %td.name= item.tax_shipping_promo_description
            %td
            %td
            %td.amount.text-right
              - if item.shipping? && item.amount == 0
                FREE
              - else
                = number_to_currency(item.amount)

        %tr
          %td.order-total
            Order total
          %td
          %td
          %td.amount.text-right.order-total
            = number_to_currency(@order.net_amount)

  .row
    .col-md-12
      .form-inline
        = form_for @order do |f|
          .form-group.mb-2
            = f.text_field :promo_code, class: 'form-control'
          = f.submit "Add Promo Code", class: 'btn btn-sm btn-secondary mb-2'

.review_element
  .row
    .col-md-12
      %h2 Shipping
      - if @order.zip_code == '98110'
        %p Shipping is FREE on Bainbridge Island, WA.
      - else
        %p 
          Shipping is 5-7 days by USPS First Class package delivery. The cost is
          = succeed(".") do
            = number_to_currency(@shipping_item.amount)




.row
  .col-md-12
    .review-element

      %section
        .text-center
          %button(type="button" id="checkout-button" class="btn btn-lg btn-base") Payment
