

= form_for @admin_promotion do |f|
  .row
    .col-md-5
      - if @admin_promotion.errors.any?
        #error_explanation
          %h2= "#{pluralize(@admin_promotion.errors.count, "error")} prohibited this promotion from being saved:"
          %ul
            - @admin_promotion.errors.full_messages.each do |message|
              %li= message

      .form-group
        = f.label :code
        = f.text_field :code, class: 'form-control', placeholder: 'SomeCode'
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :discount_percentage
        %small.text-muted (1-100)
        = f.number_field :discount_percentage, class: 'form-control'

      .form-group
        = f.label :discount_dollars
        %small.text-muted (any dollar amount)
        = f.number_field :discount_dollars, class: 'form-control'

      .form-group
        = f.label :has_free_shipping
        = f.check_box :has_free_shipping, class: 'form-control'
  .row
    .col-md-3
      .form-group
        = f.label :starts_at
        = f.datetime_select :starts_at, {}, class: 'form-control'
    .col-md-3
      .form-group
        = f.label :ends_at
        = f.datetime_select :ends_at, {}, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-base'
