= form_for @promotion do |f|
  - if @promotion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@promotion.errors.count, "error")} prohibited this promotion from being saved:"
      %ul
        - @promotion.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :discount_percentage
    = f.number_field :discount_percentage
  .field
    = f.label :start
    = f.datetime_select :start
  .field
    = f.label :end
    = f.datetime_select :end
  .actions
    = f.submit 'Save'
