%p#notice= notice

%p
  %b Code:
  = @promotion.code
%p
  %b Name:
  = @promotion.name
%p
  %b Discount percentage:
  = @promotion.discount_percentage
%p
  %b Start:
  = @promotion.start
%p
  %b End:
  = @promotion.end

= link_to 'Edit', edit_promotion_path(@promotion)
\|
= link_to 'Back', promotions_path
