.row
  .col-md-3
  .col-md-6
    %h1.text-center= fa_icon "shopping-cart"
    - if @cart
      %table.table
        - total = 0
        - @cart.each do |item|
          - product = Product.find(item)
          - if product&.is_active?
            %tr
              %td
                = Product.find(item).name
              %td.text-right
                - if product.price
                  = number_to_currency(product.price)
                  - total += product.price
              %td.text-right
                = button_to 'Remove', remove_from_cart_path(product_id: item), class: 'btn btn-info'

        %tr
          %td Total
          %td.text-right
            = number_to_currency(total)
          %td

.row
  .col-md-3
  .col-md-6
    .text-center
      = button_to "CHECK OUT", "#", class: 'btn btn-lg btn-primary', disabled: true
      %br
      = link_to "Continue Shopping", root_path
