#cart
  .row
    .col-md-3
    .col-md-6
      - if @cart
        %h1= fa_icon "shopping-cart"
        %table.table
          - total = 0
          - @cart.each do |item|
            - product = Product.find(item)
            - if product&.is_active?
              %tr
                %td.name
                  = Product.find(item).name
                %td.price
                  - if product.price
                    = number_to_currency(product.price)
                    - total += product.price
                %td.remove-button
                  = button_to 'Remove', remove_from_cart_path(product_id: item), class: 'btn btn-info'

          %tr
            %td Total
            %td.price
              = number_to_currency(total)
            %td

  .row
    .col-md-3
    .col-md-6
      .text-center
        = button_to "CHECK OUT", "#", class: 'btn btn-lg btn-primary', disabled: true

.row
  .col-md-12
    .text-center= link_to "Continue Shopping", root_path
