%h1 Products

%table.table
  %thead
    %tr
      %th
      %th Name
      %th Description
      %th ID
      %th Price
      %th Count
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td
          - if product.images.attached?
            - if product.images.first.representable?
              = image_tag product.images.first.representation(resize_to_limit: [100, 100])
        %td= product.name
        %td= product.description
        %td= product.id
        %td= number_to_currency(product.price) if product.price
        %td= product.count
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Product', new_product_path
