#product
  .row
    .col-md-6

      %h1= @product.name
      .description= @product.description

      %p
        = "#{@product.size_oz} oz" if @product.size_oz.present?

      %p
        %b Price:
        = number_to_currency(@product.price) if @product.price.present?
      = button_to  add_to_cart_path(product_id: @product.id), class: 'btn btn-base btn-lg' do
        = "Add to Cart"

      .row
        .col-md-12
          %br
          %p
            - if @related_products&.count > 1
              Sizes:
              - @related_products.each do |p|
                - if @product == p
                  = p.size_oz
                  oz.
                - else
                  = link_to product_path(p) do
                    = p.size_oz
                    oz.
                - unless p == @related_products.last
                  \|


    .col-md-6
      - if @product.images.attached? 
        - @product.images.each do |image|
          - if image.representable?
            = image_tag image.representation(resize_to_limit: [800, 800]), class: 'img-fluid rounded float-right'


  .row
    .col-md-8
      %br
      - if signed_in? && current_user.is_admin?
        = link_to 'Edit', edit_admin_product_path(@product)
        \|
        = link_to 'All products', admin_products_path
