!!!
%html
  %head
  %title Slime Kangaroo
  %meta(name="viewport" content="width=device-width,initial-scale=1")
  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %script(src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-mutate-approach="sync")
  %body
    %nav.navbar.navbar-expand-lg.navbar-light#main-nav(style='background-color: #ACBD8A')
      = link_to root_path, class: 'navbar-brand', id: 'brand-logo' do
        Slime Kangaroo
        = image_tag "slime-kangaroo-logo.png", alt: 'Slime Kangaroo Logo', width: 55, class: 'img-fluid'
      %button.navbar-toggler(type='button' data-toggle="collapse" data-target="#navbarSupportedContent")
        %span.navbar-toggler-icon


      %div.collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.mr-auto
          - if signed_in? && current_user.is_admin?
            %li.nav-item= link_to "Products", products_path, class: 'nav-link'
            %li.nav-item= link_to "Orders", orders_path, class: 'nav-link'
            %li.nav-item= link_to "Settings", edit_setting_path(Setting.first_or_create), class: 'nav-link'
        
        %ul.navbar-nav
          = link_to cart_path, class: 'nav-link' do
            = fa_icon "shopping-cart"
            = surround("(", ")") do
              - if @cart_order
                = @cart_order.order_items.count
              - else
                0
          - if signed_in?
            = link_to 'Sign out', sign_out_path, method: :delete, class: 'nav-link'
            = link_to 'Account', user_path(current_user), class: 'nav-link'
          - else
            = link_to 'Sign in', sign_in_path, class: 'nav-link'

    .container
      = yield

  = render 'footer'
